<a href="https://colab.research.google.com/github/hongrolee/Python/blob/main/colab/05_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 누락 데이터 처리

## 1) 누락 데이터 확인

### 데이터 읽어오기

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/data_preprocessing.csv'
df = pd.read_csv(file_path, engine='python')

### 누락 확인하기

*   isnull() : 널 확인
*   notnull() : 널이 아닌 요소 확인

In [ ]:
df.isnull()
df.notnull()

## 2) 누락 데이터 개수 확인하기

*   isnull().sum() : 누락값 개수 확인
*   isnull().sum(1) : 행 단위 누락값 개수 확인
*   notnull().sum(1) : 행 단위 실제값 개수 확인

In [ ]:
df.isnull().sum()
df.isnull().sum(1)
df.notnull().sum(1)

## 3) 누락 데이터 제거하기

### 행 제거

* dropped_all_row = df.dropna(axis=0)

In [ ]:
dropped_all_row = df.dropna(axis=0)

### 열 제거

*   dropped_all_column = df.dropna(axis=1)

In [ ]:
dropped_all_column = df.dropna(axis=1)

### 특정 행 또는 열 제거

*   df[행이름].dropna()

In [ ]:
df['대여소번호'].dropna()
df['대여소 번호', '대여거치대', '이용시간']

### 누락값이 들어있는 행 모두 삭제

*   df[[열이름,열이름,...,열이름]].dropna(axis=0)

In [ ]:
df[['대여소번호','대여소거치대','이용시간']].dropna(axis=0)

### 누락값이 들어있는 열 모두 삭제

*   df[[열이름,열이름,...,열이름]].dropna(axis=1)

In [ ]:
df[['대여소번호', '대여거치대','이용시간']].dropna(axis=1)

## 4) 누락 데이터 수정

### 누락값을 특정값(0)로 대체

*  fillna(0)

In [ ]:
df_1 = df.fillna(0)

### 특정 열의 누락값을 특정값(0)로 대체

# 2. 이상 데이터 처리

*   이상 데이터 : 정상치에서 벗어난 데이터 (outlier), 자료에서 예상과는 다른 패턴을 보이는 개체 또는 자료

## 1) 이상 데이터 확인

### 파일 읽어오기
* bicycle_out.csv

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/data_preprocessing.csv'
df = pd.read_csv(file_path, engine='python')

### 이상값 확인 후 제거

## 2) 이상 데이터 시각화

### 이용시간 이상치 시각화

In [1]:
import matplotlib.pylab as plt
plt.boxplot(df['나이'])
plt.show()

NameError: ignored